.header-img {
    background-image: url("img/clouds2-449822_1920.jpg");
}

.main-project-all{
    position: relative;
    text-align: center;
    
}

.main-project{
    height: 500px;
    width: 600px;
    

}