/*@media (min-width: 768px)*/


 nav{
    display: flex;
    justify-content: center;
}


.hamburger{
    display: none;
}

.nav-desktop {
    display: block;
}


.nav-desktop ul li {
    list-style: none;
    display: inline-block;
}

.nav-desktop {
    margin-top: 0px;
}

.nav-ul{
    box-shadow: none;
}

.nav-desktop ul li a {
    padding: 5px;
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: rgb(153, 152, 152);
    transition: color 0.5s;
}

.nav-desktop li a:hover {
    color: rgb(100, 27, 14);
}

.header-img {
    background-image: url("img/fiber-4814456_1920.jpg");
}

