/*@media (min-width: 576px)*/

.header-img{
    background-image: url("img/chmury_gif_2014-03-11_15-59-34.gif");
}

.header-text h1{
    margin-bottom: 5px;
    font-size: 35px;
}

h2{
    font-size: 23px;
}

p{
    font-size: 17px;
}