* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Monserrat', sans-serif;
    background-color: rgb(228, 227, 227);
    color: rgb(172, 169, 169);

}

/*NAV*/

nav {
    position: relative;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(45, 45, 46);
}


.hamburger {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    padding: 5px 30px;
    font-size: 32px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(100, 27, 14);
    outline: none;
    transition: all 0.5s ease-in-out;
}

.scrollup{
    width: 10px;
    height: 10px;
    color: black;
}

.nav-desktop {
    position: absolute;
    display: none;
    height: 100%;
    margin-top: 50px;
}

.show {
    display: flex;
}

.nav-ul {
    height: 300px;
    width: 220px;
    margin-left: 10px;
    z-index: 2;
    box-shadow: 0 0 6px rgb(206, 51, 51);
    background-color: rgb(45, 45, 46);
    font-size: 20px;
    
    
}

.nav-desktop ul li {
    display: block;
    list-style: none;
    text-align: left;
    margin-left: 10px;
    margin-top: 18px;
}

.nav-desktop ul li a {
    padding: 5px;
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: rgb(214, 214, 214);
    transition: color 0.5s;
    z-index: 2;
}

/* HEADER */

.header-img {
    position: relative;
    height: 100vh;
    text-align: center;
    background-image: url("img/fiber-4814456_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.header-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .68);
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(214, 214, 214);
    text-shadow: 3px 3px 5px black;
}

.header-text h1 {
    margin-bottom: 5px;
    font-size: 25px;
}


.header-text span {
    color: rgb(100, 27, 14);
    text-transform: uppercase;
}

.header-text p {
    padding-top: 10px;
    font-size: 20px;
}

/*Main*/

#about-me {
    background-color: rgb(214, 214, 214);
    color: black;
    display: inline;
    height: 400px;
    width: 70%;
}

h2 {
    text-align: center;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px;
}

.underline {
    position: relative;
    
}

.line {
    position: absolute;
    left: calc(50% - 30px);
    bottom: -5px;
    width: 60px;
    height: 3px;
    background-color: rgb(100, 27, 14);

}

.about-me-text {
    
    margin: 30px 30px 30px 30px;
    text-align: center;
    justify-content: center;
}

.about-me-text p {
    margin: 15px;

}

.about-me-text a{
    color: rgb(100, 27, 14);
    font-weight: bold;
    text-decoration: none;
}

#about-me-skils{
    padding: 5px;
    justify-content: center;
}


#about-me-skils h2{
    color:  black;
}

#about-me-skils p {
    text-align: center;
    font-weight: bold;
    
}

.container-about-my-skills{
    display: flex;
    margin: 15px 30px 0px 30px;
    flex-flow: row wrap;
    justify-content: center;
}

.skills-icon{
    font-size: 55px;
    padding: 10px;
    margin-top: 15px;
}

.hide{
    opacity: 0;
}
.show{
    opacity: 1;
}

.fa-html5{
    color:#e34c26;
    animation: bounce;
    animation-duration: 1.8s;
    animation-iteration-count:9;
}

.fa-angular{
    color:#e34c26;
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count:9;
}

.fa-git{
    color:#e34c26;
    animation: bounce;
    animation-duration: 2.6s;
    animation-iteration-count:9;
}

.fa-css3-alt{
    color:#3a98d1;
    animation: bounce;
    animation-duration: 2.5s;
    animation-iteration-count:9;
}

.fa-sass{
    color:#c76495;
    animation: bounce;
    animation-duration: 2.8s;
    animation-iteration-count:9;
}

.fa-js-square{
    color:#f0d91d;
    animation: bounce;
    animation-duration: 1.9s;
    animation-iteration-count:9;
}

.fa-bootstrap{
    color:#543b79;
    animation: bounce;
    animation-duration: 2.2s;
    animation-iteration-count:9;
}

.skills-icon-rwd{
    color: #2c2c51;
    animation: bounce;
    animation-duration: 2.4s;
    animation-iteration-count:9;
}

.fa-pen{
    color:rgb(53, 28, 28);
    animation: bounce;
    animation-duration: 1.7s;
    animation-iteration-count:9;
}

.skills-icon-test{
    font-size: 17px;
    color:black;
    justify-content: center;
    text-align: center;
    
}

.main-project {
    position: relative;
    height: 260px;
    width: 100%;
    display: inline-block;
    color: black;
    background-size: cover;
    background-position: center;
}

.project-space{
    margin:10px;
    position:absolute;
    bottom: 0;
    right: 0;
}

.project-space .fas{
    color: rgb(172, 169, 169);
    font-size: 25px;
    padding: 20px;
    transition: color 0.5s;
}

.hero-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .72);
}

.main-project:hover .project-text h3 {
    transform: scale(1.2);
}

.project-text h3 {
    transition: transform 1.5s;
}

.first-project {
    background-image: url(img/pro-games.png);

}

.second-project {
    background-image: url(img/To-Do-List.png);
}

.third-project {
    background-image: url(img/Weather-App.png);
}

.fourth-project {
    background-image: url(img/portfolio.png);
}

.project-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 25px;
    text-transform: uppercase;

}

.project-text a {
    text-decoration: none;
    line-height: 20px;
}

#contact {
    line-height: 30px;
    text-align: center;
}

.contact {

    color: black;
    margin: 10px;
    padding: 5px;
}

.contact p {
    margin: 5px;
}

.social-media i {
    margin:0px 10px 30px 0px;
    font-size: 40px;
    color: black;
    text-align: center;
}




footer {
    text-align: center;
    height: 80px;
    line-height: 80px;
    font-size: 13px;
    background-color: rgb(0, 0, 0);
    border-top: 1px solid rgb(73, 73, 73);
    border-radius: 5px;
}